.App {

  background-color: hsla(48, 44%, 85%, 0.35);
}

.link {
  text-decoration: none;
}
/*------------------------------ NAV ------------------------------*/
.nav_link {
  text-decoration: none;
  position: relative;
  padding: 0 0;
}

.nav_link p {
  color: hsla(0, 0%, 0%, 0.7);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.nav_link:hover p {
  color: hsla(0, 0%, 100%, 0.848);
}

.nav_link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: hsla(0, 0%, 0%, 0.7);
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav_link:hover::after {
  width: 100%;
}

/*------------------------------ PRODUCTS------------------------------*/

.products_container {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: hsla(0, 0%, 0%, 0.756);
  text-transform: capitalize;
}

.product_banner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 15rem;
  background-image: url("./images/ceramic-gba0ffcf60_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(255, 255, 255, 0.6);
}

.product_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product_container img {
  width: 100%;
  margin-bottom: 10px;
}

.product_info_container {
  width: 100%;
  text-align: center;
}

.product_info p {
  margin: 0 0;
  letter-spacing: 0.2rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: hsla(0, 0%, 0%, 0.552);
}

.product_price p {
  color: hsla(0, 0%, 0%, 0.6);
}

/*------------------------------ PRODUCT DETAIL ------------------------------*/

.productDetail_info_header h2 {
  margin: 0 0;
  font-weight: 300;
  font-size: 1.1rem;
}

.productDetail_info_header h3 {
  font-weight: 400;
  font-size: 1.6rem;
  color: hsla(0, 0%, 0%, 0.95);
  margin-top: 10px;
  margin-bottom: 10px;
}

.productDetail_info_header p {
  font-weight: 400;
  font-size: 1.1rem;
  color: hsla(0, 0%, 0%, 0.5);
  margin-top: 0px;
}

.product_Detail_description {
  font-size: 0.9rem;
  line-height: 1.8rem;
  text-align: justify;
  color: hsla(0, 0%, 0%, 0.7);
}

.productDetail_info_color {
  margin-top: 30px;
}

.productDetail_info_color h4 {
  margin: 0 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.655);
}

.productDetail_info_color p {
  margin: 0 0;
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.655);
}

.productDetail_info_material {
  margin-top: 30px;
}

.productDetail_info_material h4 {
  margin: 0 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.655);
}

.productDetail_info_material p {
  margin: 0 0;
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.655);
}

/*------------------------------ SEARCH ------------------------------*/

.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 2%;
}

.search_icon {
  margin-right: 15px;
}

/*------------------------------ FAVORITES ------------------------------*/
.favoritesDrawer_container {
  font-family: "jost", "sans-serif";
  width: 400px;
}

.favoritesDrawer_container h1 {
  font-weight: 400;
  margin: 18px 25px;
  font-size: 1.2rem;
  color: hsla(0, 0%, 0%, 0.75);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.favoritesItem_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 375px;
  margin: 20px 25px;
}

.favoritesItem_image_container {
  width: 120px;
  height: 120px;
}
.favoritesItem_image_container img {
  width: 100%;
  height: 100%;
}

.favoritesItem_info_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 225px;
  height: 120px;
}

.favoritesInfo {
  width: 220px;
  margin-top: -8px;
  margin-left: 7px;
}

.favoritesInfo_Link {
  text-decoration: none;
}

.favoritesInfo h3,
.favoritesInfo h4 {
  margin: 5px 0;
  font-weight: 400;
  letter-spacing: 0.15rem;
  color: hsla(0, 0%, 15%, 1);
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.favoritesInfo h4 {
  color: hsla(0, 0%, 26%, 0.8);
  font-size: 0.7rem;
}

.favoritesInfo p {
  margin: 5px 0px;
  color: hsla(0, 0%, 26%, 0.8);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.favoritesInfo_counter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 0px;
}

.favoritesInfo_counter button {
  margin-bottom: 5px;
  font-size: 0.65rem;
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.69);
  letter-spacing: 0.2rem;
  background: none;
  outline: none;
  padding: 0;
  border: 0px;
  position: relative;
}
.favoritesInfo_counter button:hover {
  cursor: pointer;
}

.favoritesInfo_counter button::after {
  margin-bottom: -2px;
  margin-left: -1px;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.585);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.favoritesInfo_counter button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*------------------------------ CART ------------------------------*/

.cartList_container th {
  font-family: "jost", "sans-serif";
  font-size: 0.9rem;
  letter-spacing: 0.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.cartItem_container td {
  font-family: "jost", "sans-serif";
}

.cartItem_image_container {
  width: 100px;
}

.cartItem_image_container img {
  width: 100px;
  height: 100px;
}

.cartItem_info {
  line-height: 1.3rem;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
}

.cartItem_info h1 {
  min-width: 200px;
  margin: 0 0;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 1.1rem;
  color: hsla(0, 0%, 9%, 0.85);
}

.cartItem_info h2 {
  margin: 0 0;
  font-weight: 400;
  font-size: 1rem;
  color: hsla(0, 0%, 9%, 0.65);
}
.cartItem_info h3 {
  margin: 0 0;
  font-weight: 400;
  font-size: 1rem;
  color: hsla(0, 0%, 9%, 0.65);
}

.cartItem_remove_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cartItem_remove_container button {
  font-size: 0.65rem;
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.69);
  letter-spacing: 0.2rem;
  background: none;
  outline: none;
  padding: 0;
  border: 0px;
  position: relative;
  text-transform: uppercase;
}

.cartItem_remove_container button:hover {
  cursor: pointer;
}

.cartItem_remove_container button::after {
  margin-bottom: -2px;
  margin-left: -1px;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.585);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cartItem_remove_container button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*------------------------------ ORDER ------------------------------*/

.order_img {
  padding: 10px;
}

/*
color scheme:
color: hsla(29, 21%, 53%, 0.944);



*/
